@import url(./moon-phase.css);
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
}
h1 {
    font-family: "Roboto-Bold", sans-serif;
    margin-bottom: 1em;
}
.page_head {
    width: 50%;
    margin-top: 2em;
    text-align: center;
}

.page_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3em;
}

.page_main {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    padding-right: 5em;
}

aside {
    flex: 1;
    width: 30%;
    padding: 1em;
    border-left: 1px solid rgb(150, 150, 186);
}

.page_main article {
    display: flex;
    margin-bottom: 5em;
    gap: 1em;
}

.article_figure {
    /* width: 50rem;
    height: auto;
    text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 7em;
}

.featured_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.info h2 {
    margin-bottom: 0.5em;
    font-family: "Roboto-ExtraBold";
}

.info p {
    font-family: "Roboto-Light";
    padding-bottom: 1em;
}
.info a {
    font-size: 15px;
    color: rgb(137, 17, 223);
}
